@{
    ViewBag.Title = "RequstBook";
}


@model IEnumerable<LibraryUI.BookViewModel>

<h2>Request a book here</h2>

<br />


@{
    if (Model.Count() == 0)
    {
        <span>We currently have no books or you have reached the amount you're allowed. Please return them before you can take any more books</span>
    }
}

@foreach (var item in Model)
{
    string X = string.Format("{0} - {1}", @item.Title, @item.Author);
    <a href='@Url.Action("RequestBookComplete", new { @ID = item.BookId })'>@X</a>
    <br />      
}
